*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 50vw;
    border-radius: 50vh;
    border: 5px solid red;
}

img:hover{
    border: 20px solid green;
    
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
  }
  
  img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }
  

  
  img {
    max-width: 100%;
    height: auto;
  }
  
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
  